.wideTable {
	border: 1px solid;
	width: 25%;
	margin: 10px auto;
	height: 500px;
	overflow-y: scroll;
}

tbody tr:nth-child(odd) {
	background-color: #eee;
}

.trcentered {
	height: 50px;
	text-align: center;
}

.h4 {
	background-color: #018EC3;
	color: white;
	font-size: 1.33em;
	text-align: center;
	margin-bottom: 0px;
	margin-top: 0.5em;
}

.seatsTable {
	border-spacing: 5px;
	margin: 10px auto;
}

.seat {
	border-radius: 25px;
	text-align: center;
	padding: 5px;
	width: 50px;
	height: 50px;
}

.seat-preoccupied {
	background: red;
	color: white;
}

.seat-clicked {
	background: #73AD21;
	color: white;
}

.seat-free {
	border: 2px solid #73AD21;
}

.button {
	background-color: #4CAF50;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 18px;
	margin: 0 auto;
	width: 20%;
	display: block;
}