<!doctype html>
<html>
<head>
<title>Movies list</title>
<link rel="stylesheet" type="text/css" href="theme.css">
<script type="text/javascript" src="angular-1.5.0.min.js"></script>
<script type="text/javascript">
	angular.module('moviesList', []).controller('moviesListController',
			[ '$scope', '$window', '$http', function($scope, $window, $http) {
				$http.get('/movies').success(function(data) {
					$scope.movies = data;
				}).error(function(data, status, headers, config) {
					console.log("Failed to get movies");
					console.log("status=" + status);
					$window.alert("Something went wrong!");
				});

				$scope.invoke = function(idParam, movieName) {
					sessionStorage.movieId = idParam;
					sessionStorage.movieName = movieName;
					$window.location = '/seance.html';
				}
			} ]);
</script>
</head>
<body>
	<h4 class="h4">Please choose a movie</h4>
	<div ng-app="moviesList" ng-controller="moviesListController" ng-cloak>
		<table class="wideTable">
			<tbody>
				<tr ng-repeat="movie in movies" class="trcentered">
					<td><a href="" ng-click="invoke(movie.id, movie.movieName)">{{movie.movieName}}</a></td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>
