<!doctype html>
<html>
<head>
<title>Movie session list list</title>
<link rel="stylesheet" type="text/css" href="theme.css">
<script type="text/javascript" src="angular-1.5.0.min.js"></script>
<script type="text/javascript">
	angular.module('seanceList', []).controller('seanceListController',
			[ '$scope', '$window', '$http', function($scope, $window, $http) {
				$scope.movieName = sessionStorage.movieName;
				$http.post('/sessions', {
					id : sessionStorage.movieId
				}).success(function(data, status, headers, config) {
					$scope.seances = data;
				}).error(function(data, status, headers, config) {
					console.log("Failed to get movie sessions");
					console.log("status=" + status);
					$window.alert("Something went wrong!");
					$window.location = '/';
				});

				$scope.invoke = function(idParam) {
					sessionStorage.seanceId = idParam;
					$window.location = '/seats.html';
				}
			} ]);
</script>
</head>
<body ng-app="seanceList" ng-controller="seanceListController" ng-cloak>
	<h4 class="h4">Please choose time to go to '{{movieName}}'</h4>
	<div>
		<table class="wideTable">
			<tbody>
				<tr ng-repeat="seance in seances" class="trcentered">
					<td><a href="" ng-click="invoke(seance.id)">{{seance.startTime}}</a></td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>
