<!doctype html>
<html>
<head>
<title>Seats</title>
<link rel="stylesheet" type="text/css" href="theme.css">
<script type="text/javascript" src="angular-1.5.0.min.js"></script>
<script type="text/javascript">
	var ticketsToBuy = [];

	function cell(number, occupied, bought) {
		this.number = number;
		this.occupied = occupied;
		this.bought = bought;
	}

	function board(rows, cols, occupied) {
		this.grid = new Array();
		for (var i = 0; i < rows; ++i) {
			var row = new Array();
			for (var j = 0; j < cols; ++j) {
				var seatNum = i * cols + j + 1;
				row.push(new cell(seatNum, occupied.indexOf(seatNum) > -1,
						false));
			}
			this.grid.push(row);
		}

		this.status = changeCellStatus;
	}

	function changeCellStatus(cell) {
		if (cell.occupied) {
			return;
		}
		if (cell.bought) {
			var index = ticketsToBuy.indexOf(cell.number);
			ticketsToBuy.splice(index, 1);
			cell.bought = false;
		} else {
			ticketsToBuy.push(cell.number);
			cell.bought = true;
		}
	}

	angular
			.module('chairsList', [])
			.controller(
					'chairsListController',
					[
							'$scope',
							'$window',
							'$http',
							function($scope, $window, $http, Board) {
								$scope.movieName = sessionStorage.movieName;
								$http
										.post('/occupied', {
											id : sessionStorage.seanceId
										})
										.success(
												function(data, status, headers,
														config) {
													$scope.board = new board(
															data.rows,
															data.cols,
															data.chairs);
												})
										.error(
												function(data, status, headers,
														config) {
													console
															.log("Failed to get occupied seats");
													console.log("status="
															+ status);
													$window
															.alert("Something went wrong!");
													$window.location = '/';
												});

								$scope.invoke = function(idParam) {
								}

								$scope.getNumber = function(num) {
									return new Array(num);
								}

								$scope.buyTickets = function() {
									if (ticketsToBuy.length == 0) {
										return;
									}
									$http
											.post('/buy', {
												id : sessionStorage.seanceId,
												chairs : ticketsToBuy
											})
											.success(
													function(data, status,
															headers, config) {
														$window.location
																.reload();
													})
											.error(
													function(data, status,
															headers, config) {
														console
																.log("Failed to buy tickets");
														console.log("status="
																+ status);
														$window
																.alert("Something went wrong!");
														$window.location.reload();
													});
								}

								$scope.getNgClass = function(cell) {
									if (cell.occupied) {
										return "seat seat-preoccupied";
									} else if (cell.bought) {
										return "seat seat-clicked";
									} else {
										return "seat seat-free";
									}
								}
							} ]);
</script>

</head>
<body ng-app="chairsList" ng-controller="chairsListController">
	<h4 class="h4">Please choose seats for '{{movieName}}'</h4>
	<div ng-cloak
		style="height: 600px; overflow: auto; margin-bottom: 50px;">
		<table class="seatsTable">
			<tbody>
				<tr ng-repeat="row in board.grid">
					<td ng-repeat="cell in row" ng-click="board.status(cell)"
						ng-class="getNgClass(cell)">#{{cell.number}}</td>
				</tr>
			</tbody>
		</table>
	</div>
	<button ng-click="buyTickets()" class="button">Buy tickets</button>
</body>
</html>
